
<header class="header">
    <nav class="nav">

        <div class="logo" routerLink="/">
            <img id="nav-logo" src="img/logo.jpg" alt="MJIT LLC Logo" />
            <h1>MJIT LLC</h1>
        </div>

        <div class="nav-links">
            <ul>
                <li class="nav-link" routerLink="/">Home</li>
                <li class="nav-link" routerLink="/about">About</li>
                <li class="nav-link" routerLink="/color-generation">Color Generation</li>
            </ul>
        </div>
        
    </nav>
</header>

