import { Component } from '@angular/core';
import { Router } from '@angular/router';
import { CommonModule } from '@angular/common';

<main>
    <nav id="nav">

        <div class="logo">
            <img id="nav-logo" src="img/logo.jpg" alt="MJIT LLC Logo" />
            <h1>MJIT LLC</h1>
        </div>

        <div class="nav-links">
            <a routerLink="/">Home</a>
            <a routerLink="/about">About</a>
            <a routerLink="/contact">Contact</a>
        </div>
        
    </nav>
</main>

<router-outlet></router-outlet>