#values {
    background-color: lightgrey;
    padding: 20px;
    border-radius: 16px;
    margin-bottom: 20px;
    border: 3px solid lightskyblue;
    box-shadow: 0 4px 8px lightskyblue;
}

#rows, #columns, #colors {
    padding: 2px;
    border-radius: 10px;
    border-color: lightskyblue;
}

.generate {
    background-color: lightskyblue;
    padding: 5px;
    border-radius: 10px;
}

.generate:hover {
    background-color: rgb(93, 160, 186);
    cursor: pointer;
}

#colorsTable {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background-color: lightgrey;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#colorsTable td input, #colorsTable td select {
    text-align: center;
    cursor: pointer;
    border: 1px solid #010203;
}

.cell-selection {
    width: 20%;
    background-color: lightgrey;
    padding: 20px;
    border-radius: 16px;
    margin-bottom: 20px;
    border: 3px solid lightskyblue;
    box-shadow: 0 4px 8px lightskyblue;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Styling for the second table */
#generatedTable {
    border-collapse: collapse;
}

#generatedTable td {
    width: 40px;
    height: 40px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #010203;
}

#generatedTable td:hover {
    background-color: #e0f7fa; /* Light blue hover effect */
}

.print-logo {
    width: 100px; /* Adjust the size of the logo */
    height: auto;
    margin-bottom: 20px; /* Add spacing below the logo */
    display: none;
}

/* Print styles */
@media print {
    .print-logo {
        display: block;
    }
    #generatedTable td {
        border: 1px solid black;
    }
    button, .dimension-input, .cell-selection {
        display: none;
    }
    .first-table input[type="radio"] {
        visibility: hidden;
    }
}