<img src="/img/logo.jpg" alt="Logo" class="print-logo">

<div id="values" class="dimension-input">
  <form (submit)="generateTables($event)">
      <!-- Row Input -->
    <label for="rows">Rows (1-1000)&nbsp; &nbsp; &nbsp;</label>
    <input
      id="rows"
      type="number"
      name="rows"
      [(ngModel)]="rows"
      (blur)="validateInput('rows')"
      required
    > <br> <br>

    <!-- Column Input -->
    <label for="columns">Columns (1-702) &nbsp;</label>
    <input
      id="columns"
      type="number"
      name="columns"
      [(ngModel)]="columns"
      (blur)="validateInput('columns')"
      required
    > <br> <br>

    <!-- Color Input -->
    <label for="colors">Colors (1-10) &nbsp; &nbsp; &nbsp; &nbsp;</label>
    <input
      id="colors"
      type="number"
      name="colors"
      [(ngModel)]="colorsInput"
      (blur)="validateInput('colors')"
      required
    > <br> <br>

    <!-- Generate Button -->
    <input type="submit" value="Generate" class="generate"> <br>

    <!-- Error Message -->
    <div *ngIf="inputErrorMessage" style="color: red; margin-top: 10px;">
      {{ inputErrorMessage }}
    </div>
  </form>
</div>

<div *ngIf="colors > 0" class="first-table">
  <!-- First Table -->
  <table id = "colorsTable">
    <tbody>
      <tr *ngFor="let color of colorArray; let i = index">
        <!-- Left Column -->
        <td style="width: 20%; border: 1px solid black;">
          <input
            type="radio"
            name="selectedRow"
            [value]="i"
            [checked]="selectedRow === i"
            (change)="selectRow(i)"
          > Selected
          <select [(ngModel)]="colorArray[i]" (change)="updateColor(i, $event)">
            <option *ngFor="let option of colorOptions" [value]="option" [disabled]="isColorDisabled(option, i)">
              {{ option }}
            </option>
          </select>
        </td>
        <!-- Right Column -->
        <td style="width: 80%; border: 1px solid black;"></td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="tableData.length > 0">
  <!-- Display Selected Cell -->
  <div style="margin-bottom: 10px; font-weight: bold;" class="cell-selection">
    Selected Cell: Row {{ selectedCell.row }}, Column {{ getColumnLabel(selectedCell.col) }}
  </div>

  <!-- Wrapper for the second table -->
  <div id="generatedTableWrapper">
    <table id="generatedTable">
      <tbody>
        <tr *ngFor="let row of tableData; let i = index">
          <td *ngFor="let cell of row; let j = index"
              (click)="selectCell(i, j)"
              [ngStyle]="{
                'background-color': selectedCell.row === i && selectedCell.col === j ? '#14213d' : '#e5e5e5'
              }">
            {{ cell }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Print Page Button -->
  <div style="margin-top: 20px;">
    <button (click)="printPage()" style="padding: 10px 20px; background-color: lightblue; border: none; border-radius: 5px; cursor: pointer;">
      Print Page
    </button>
  </div>
</div>
