/* You can add global styles to this file, and also import other style files */

* { outline: none; }

html, 
body { 
    margin:0; 
    padding:0; 
}

body {
    background-color: whitesmoke;
}

:root {
    --primary-color: #14213d;
    --secondary-color: #fca311;
    --success-color: #28a745;
    --info-color: #e5e5e5;
    --warning-color: #ffc107;
    --danger-color: #dc3545;
    --light-color: #fdf0d5;
    --dark-color: #343a40;
}