/* You can add global styles to this file, and also import other style files */

* { outline: none; }

html, 
body { 
    margin:0; 
    padding:0; 
}

body {
    background-color: #d62828;
}

:root {
    /* Contrast Values || Need to be AT LEAST score of 7 */
    /* Foreground & Background (in that order) */
    /* Primary & Secondary = 7.9:1 */
    /* Navbar -- Primary & Light Color = 14.14:1 */
    /* On Headers -- Secondary & Dark Color = 10.27:1 */
    /* On Person About -- Light Color & Info Color = 16.48:1 */
    --primary-color: #14213d;
    --secondary-color: #fca311;
    --background-color: #d62828;
    --success-color: #28a745;
    --info-color: #e5e5e5;
    --warning-color: #ffc107;
    --danger-color: #dc3545;
    --light-color: #fdf0d5;
    --dark-color: #010203;
}

@media print {
    * {
      -webkit-print-color-adjust: exact; /* Ensures colors are printed accurately */
      print-color-adjust: exact; /* Standard property for compatibility */
      filter: grayscale(100%); /* Converts everything to grayscale */
      background-color: #fff !important; /* Sets background to white */
    }
}