<section class="about">
    <div class="about-header">
        <h2>{{ title }}</h2>
        <p>{{ description }}</p>
    </div>

    <div class="people">
        <ul>
            <li class="person">
                <img class="person-img" src="img/miguel.jpg" alt="Miguel photo" width="150" height="150"/>
                <div>
                    <h3>Miguel Rosales</h3>
                    <p>I'm an ambitious entrepreneur, developer, and content creator with a passion for innovation and personal growth. As the founder of ModernStudio Flow, I specialize in web development, helping businesses establish a strong digital presence. My goal is to build intuitive, high-performing websites while expanding into social media marketing and photography to provide comprehensive branding solutions.</p>
                </div>
            </li>
            <li class="person">
                <img class="person-img" src="img/jonathan.jpg" alt="Person photo" width="150" height="150"/>
                <div>
                    <h3>Jonathan Evans</h3>
                    <p>Hello! I'm Jonathan, an online student based in Texas. Before pursuing a degree in Computer Science, I worked a variety of jobs — including as a sushi chef and with a painting company specializing in home repaints.</p>
                </div>
            </li>
            <li class="person">
                <img class="person-img" src="img/tommy.jpeg" alt="Person photo" width="150" height="150"/>
                <div>
                    <h3>Tommy Manmano</h3>
                    <p>I'm a person looking to combine my years of customer service skills with years of studying computer science. Being able to hear out clients and deliver a product they and their customers will love is my ultimate carrer goal.</p>
                </div>
            </li>
            <li class="person">
                <img class="person-img" src="img/IMG_0900.jpg" alt="Person photo" width="150" height="150"/>
                <div>
                    <h3>Isaiah Kim</h3>
                    <p>Hello, my name is Isaiah Kim and I am a passionate third year computer science student studying at Colorado State University! Using my skills and expertise, I aim to create a product that is perfected and maintained. Outside of computer science I really enjoy playing basketball and excersising with friends and family. I want to keep growing as a person, whether that is through people I meet or experiences that challenges me.</p>
                </div>
            </li>
        </ul>
    </div>
</section>