<section class="about">
    <div class="people">
        <h2>{{ title }}</h2>
        <p>{{ description }}</p>

        <ul>
            <li class="person">
                <img class="person-img" src="img/miguel.jpg" alt="Miguel photo" width="150" height="150"/>
                <h3>Miguel Rosales</h3>
                <p>I am Miguel Rosales</p>
            </li>
            <li class="person">
                <img class="person-img" src="img/logo.jpg" alt="Person photo" width="150" height="150"/>
                <h3>John Doe</h3>
                <p>description here</p>
            </li>
            <li class="person">
                <img class="person-img" src="img/logo.jpg" alt="Person photo" width="150" height="150"/>
                <h3>John Doe</h3>
                <p>description here</p>
            </li>
            <li class="person">
                <img class="person-img" src="img/logo.jpg" alt="Person photo" width="150" height="150"/>
                <h3>John Doe</h3>
                <p>description here</p>
            </li>
        </ul>
    </div>
</section>