<section class="about">
    <div class="about-header">
        <h2>{{ title }}</h2>
        <p>{{ description }}</p>
    </div>

    <div class="people">
        <ul>
            <li class="person">
                <img class="person-img" src="img/miguel.jpg" alt="Miguel photo" width="150" height="150"/>
                <div>
                    <h3>Miguel Rosales</h3>
                    <p>I'm an ambitious entrepreneur, developer, and content creator with a passion for innovation and personal growth. As the founder of ModernStudio Flow, I specialize in web development, helping businesses establish a strong digital presence. My goal is to build intuitive, high-performing websites while expanding into social media marketing and photography to provide comprehensive branding solutions.</p>
                </div>
            </li>
            <li class="person">
                <img class="person-img" src="img/jonathan.jpg" alt="Person photo" width="150" height="150"/>
                <div>
                    <h3>Jonathan Evans</h3>
                    <p>Hello! I'm Jonathan, an online student based in Texas. Before pursuing a degree in Computer Science, I worked a variety of jobs — including as a sushi chef and with a painting company specializing in home repaints.</p>
                </div>
            </li>
            <li class="person">
                <img class="person-img" src="img/logo.jpg" alt="Person photo" width="150" height="150"/>
                <div>
                    <h3>John Doe</h3>
                    <p>description here</p>
                </div>
            </li>
            <li class="person">
                <img class="person-img" src="img/logo.jpg" alt="Person photo" width="150" height="150"/>
                <div>
                    <h3>John Doe</h3>
                    <p>description here</p>
                </div>
            </li>
        </ul>
    </div>
</section>